language: node_js

node_js: stable

install:
  - npm install
script:
  - npm run docs:build
after_script:
  - cd docs/.vuepress/dist
  - git init
  - git config user.name "xiaofuyesnew"
  - git config user.email "xiaofuyesnew@qq.com"
  - git add -A
  - git commit -m 'deploy'
  - git push -f "https://${Travis_Token}@github.com/xiaofuyesnew/xiaofuyesnew.github.io.git" master:master